<div
  class="home_icon"
  style="background-image:url('./../assets/images/background_homepage_1.jpg')"
>
  <div class="card ">
    <img
      class="card-img-top"
      src="./../assets/images/Bookstore_homepage.jpg"
      alt="Card image cap"
      width="400"
      height="300"
    />
    <div class="card-body1">
      <p class="card-text top-card1">
        A WIDE RANGE OF BOOKS TO MEET ANY TASTE AND BUDGET..!!
      </p>
    </div>
  </div>

  <div class="bestseller">
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color:goldenrod;"
    >
      <div class="container">
        <a class="navbar-brand" href="#">Bestsellers</a>
      </div>
    </nav>
  </div>

  <div class="best_books">
    <div class="card" style="width: 19rem;">
      <img
        class="card-img-top"
        src="./../assets/images/A thousand Splendid Suns.jpg"
        alt="Card image cap"
      />
      <div class="card-body2">
        <h5 class="card-title">A Thousand Splendid Suns</h5>
        <p class="card-text">By Khaled Hosseini</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>

    <div class="card" style="width: 19rem;">
      <img
        class="card-img-top"
        src="./../assets/images/Meluha.jpg"
        alt="Card image cap"
      />
      <div class="card-body2">
        <h5 class="card-title">Immortals Of Meluha</h5>
        <p class="card-text">By Amish Tripathi</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>

    <div class="card" style="width: 19rem;">
      <img
        class="card-img-top"
        src="./../assets/images/The Subtle art.jpg"
        alt="Card image cap"
      />
      <div class="card-body2">
        <h5 class="card-title">The Subtle Art Of Not Giving A F*ck</h5>
        <p class="card-text">By Mark Manson</p>
        <a routerLink="/cart" class="btn btn-primary">Add to cart</a>
      </div>
    </div>

    <div class="card" style="width: 19rem;">
      <img
        class="card-img-top"
        src="./../assets/images/Power of ur Mind.jpg"
        alt="Card image cap"
      />
      <div class="card-body2">
        <h5 class="card-title">The Power Of Your Subconscious Mind</h5>
        <p class="card-text">By Joseph Murphy</p>
        <a routerLink="/register" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>

  <div class="bestseller">
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color:goldenrod;"
    >
      <div class="container">
        <a class="navbar-brand" href="#">Featured Authors</a>
      </div>
    </nav>
  </div>

  <div class="authors">
    <div class="card" style="width: 18rem;">
      <img
        class="card-img-top"
        src="./../assets/images/Khushwant-Singh-Photo.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">Khushwant Singh</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img
        class="card-img-top"
        src="./../assets/images/Chetan-Bhagat.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">Chetan Bhagat</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img
        class="card-img-top"
        src="./../assets/images/Arundhati-Roy.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">Arundhati Roy</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img
        class="card-img-top"
        src="./../assets/images/Ruskin-Bond-Photo.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">Ruskin Bond</p>
      </div>
    </div>
  </div>
</div>
