<nav class="navbar navbar-light" style="background-color: #FFD200; ">
    <a class="navbar-brand navtop1">Look Book <span>:)</span></a>
    <form class="form-inline">
      <input class="form-control mr-sm-4" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <i class="fas fa-shopping-cart"></i>
  </nav>



<nav class="navbar navbar-light" style="background-color: #ff9f33;">
  <a class="navbar-brand" href="#">Bookstore at your Doorstep</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Book Type
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Fiction</a>
          <a class="dropdown-item" href="#">Horror</a>
          <a class="dropdown-item" href="#">Religious</a>
          <a class="dropdown-item" href="#">Romantic</a>
       </div>   
      </li> 
    </ul> 
  </div>     
</nav>
